:root {
    --primary: #111851;
    --linght: #ffffff;
    --grey: #efefef;
}

body {
    overflow:hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

a:link {
    text-decoration:none;
}

#sidebar-container {
    min-height:100vh;
}

    #sidebar-container .logo {
        padding: .875rem 1.25rem;
    }

    #sidebar-container .menu {
        width:18rem;    
    }

.avatar {
    max-width:100px;
}

#content {
    overflow-y:auto;
    height:100vh;
    padding-bottom: 5rem;
}